*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.image{
    width: 310px;
    display:start;
    max-width:600px;
    padding-right:6em;

}
.main-card{
    border-radius:10px;
    padding:40px;
    margin-right: 10px;
    min-width:10vh;
    max-height:50vh;
    background-color:rgb(241, 234, 234);
    justify-content:center;
    gap:2px;
    margin-top:15px;

    display:start;
}


.price{
    font-size: 2em;
    font-family: fantasy;
    color: rgb(54, 50, 44);
}

.status{
    font-size: 23px;
    color: rgb(54, 50, 44);
    padding-top: 8px;
}


.Card2{
display:grid;
margin-right:269px;
margin-left: 12em;
justify-content:center;
grid-template-columns: repeat(3, 1fr)
}

