body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
}

.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 1000px;
    min-width: 800px;
    max-height: 800px;
    min-height: 400px;
    display:flex;
}

.conten2{
    margin-left: 2em;
    margin-top: 3em;

}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}
.modal-image{
    width:22em;
    margin-top: 40px;
    border-radius: 10px;

}
.icons{
    display:flex;
    width:150px
}

.shopping{
    position:relative;
    left:33rem;   
}
.heart{
     position:relative;
    left:34rem;
}
.buy,.add{
    max-width:15rem;
    border:2px solid black;
    border-radius:10px;
}
.add{
    position: relative;
    top:1rem;
    left:2rem;
  
    margin-left:8px;
    width:6rem; 
}
.buy{
    position: relative;
    top:1rem;

    width:6rem
}
.add:hover{
    background-color:rgb(76, 80, 73);
    transition-delay: 300ms;

 box-shadow: 2px 2px 2px 1px rgba(9, 180, 206, 0.2);
}
.buy:hover{
    transform:translate(5px 12px);
    background-color:rgb(76, 80, 73);
    
}